body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    color: gray;
    font-size: 21px;
}

footer {
    text-align: right;
    margin-right: 10px;
}

.download-link {
    color: aquamarine;
    font-size: 16px;
    margin-bottom: 20px;
}

#phone-icon {
    margin-top: 20px;
}